* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFD1DC;
    font-family: sans-serif;
}

/* Forms */
.container {
    width: 100%;
    height: calc(100vh - 65px);
    display: grid;
    place-content: center;
}

form {
    width: 350px;
    height: 400px;
    display: grid;
    place-content: center;
    gap: 10px;
    background-color: #fff1d1;
    box-shadow: 0 0 15px #a8a8a8;
    border-radius: 15px;
}

form h1 {
    text-align: center;
    font-size: 24px;
}

form input {
    font-size: 16px;
    padding: 5px;
}

form button {
    background-color: #FFD1DC;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #000;
}

form hr {
    margin: 15px 0;
}

.error-msg {
    text-align: center;
    color: #f00;
}