* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7ceaf;
    font-family: sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

/* log in and sign up forms */
.container {
    width: 100%;
    height: calc(100vh - 65px);
    display: grid;
    place-content: center;
}

.container form {
    width: 350px;
    height: 400px;
    display: grid;
    place-content: center;
    gap: 10px;
    background-color: #fff1d1;
    box-shadow: 0 0 15px #a8a8a8;
    border-radius: 15px;
}

.container form h1 {
    text-align: center;
    font-size: 24px;
}

.container form input {
    font-size: 16px;
    padding: 5px;
}

.container form button {
    background-color: #FFD1DC;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #000;
}

.container form hr {
    margin: 15px 0;
}

.error-msg {
    text-align: center;
    color: #f00;
}

/* account form */
#account-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.account-bttn {
    background-color: #FFD1DC;
    font-weight: bold;
    padding: 10px 40px;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

/* entry */
#entry-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

#del-entry-bttn {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: -99;
    background-color: #fff;
    color: #f00;
    font-weight: 900;
    padding: 3px 5px;
    border: 1px solid #000;
    cursor: pointer;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}

#del-entry-bttn:hover {
    box-shadow: none;
    background-color: #f00;
    color: #fff;
}

#entry-container:hover #del-entry-bttn {
    visibility: visible;
    z-index: 1;
    transform: translateX(68px);
}

#entry-container:not(:hover) #del-entry-bttn {
    transition-delay: 0.5s;
}

.entry button {
    display: block;
    width: 700px;
    height: 100px;
    background: #fff1d1;
    margin: 20px auto;
    padding: 0 15px;
    cursor: pointer;
    border: 1px solid #000;
}

button:hover, .account-bttn:hover {
    box-shadow: 0 0 10px #a8a8a8;
}

#entry_title {
    font-size: 18px;
    text-align: start;
    text-decoration: underline;
    text-underline-offset: 2px;
}

#title {
    position: absolute;
    top: 5px;
    left: 5px;
}

#entry_date {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#load-bttn {
    display: block;
    background-color: #fff1d1;
    font-size: 14px;
    margin: 20px auto;
    padding: 5px 15px;
    font-weight: bold;
    border: 1px solid #000;
    cursor: pointer;
}

/* add entry */
#add-entry-container {
    display: flex;
    flex-direction: column;
}