nav {
    height: 65px;
    background-color: #fff1d1;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
    align-items: center;
}

nav .material-icons {
    font-size: 32px !important;
}

nav a {
    text-decoration: none;
    color: #000;
}